/* Галерея блюд */
.cards-grid {
	justify-content: center;
	display: grid;
	gap: 10px;
	grid-template-columns: repeat(4, 260px);
	grid-template-rows: repeat(2, 290px);
	grid-auto-rows: 380px;
	grid-template-areas:

		"widel1 widel1 product1 product2"
		"product3 product4 wide2 wide2";

}
.cards-grid a{
	display: block;
	width: 100%;
	height: 100%;
}

.cards-grid_products1 {
	background-image: url(img/table-71380_1280\ 1.png);
	background-size: cover;
}

.cards-grid_products2 {
	background-image: url(img/coffee-3120750_1920\ 1.png);
	background-size: cover;
}

.cards-grid_products3 {
	background-image: url(img/goulash-6054124_1920\ 2.png);
	background-size: cover;
}

.cards-grid_products4 {
	background-image: url(img/coffee-3120750_1920\ 1.png);
	background-size: cover;
}

.cards-grid_products5 {
	background-image: url(img/goulash-6054124_1920\ 2.png);
	background-size: cover;
}

.cards-grid_products6 {
	background-image: url(img/table-71380_1280\ 1.png);
	background-size: cover;
}
/* Конец галереи блюд */
/* Нащи повара */

.cook-content {
	padding-bottom: 180px;
	justify-content: center;
	display: grid;
	gap: 20px;
	grid-template-columns: repeat(3, 260px);
	grid-template-rows: repeat(1, 290px);
	grid-auto-rows: 380px;
	grid-template-areas:
		"eats1 eats2 eats3"
	;

}

.cooker-1 {
	grid-area: eats1
}

.cooker-2 {
	grid-area: eats2
}

.cooker-3 {
	grid-area: eats3
}

.sales-1 {
	grid-area: widel1;
}

.product-1 {
	grid-area: product1;
}

.product-2 {
	grid-area: product2;
}

.product-3 {
	grid-area: product3;
}

.product-4 {
	grid-area: product4;
}

.sale-2 {
	grid-area: wide2;
}
/* Конец наших поваров */
